<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515083318716-hhabd9hj7os4qjv4f514gderbpoq4k88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515083318716-hhabd9hj7os4qjv4f514gderbpoq4k88</string>
	<key>API_KEY</key>
	<string>AIzaSyD5rj3KBNX7XG1DVA2K7zqDJz1WEq9e7YA</string>
	<key>GCM_SENDER_ID</key>
	<string>515083318716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myproject</string>
	<key>PROJECT_ID</key>
	<string>myproject-elena312-ec2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-elena312-ec2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515083318716:ios:41945d36796ecac26d27b9</string>
</dict>
</plist>